@font-face {
    font-family: 'whitney';
    src: url('./whitney.otf');
}
body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    background-color: #002;
    overflow-x: hidden;
}
p#preview{
    display: block;
    background-color: #111;
    font-family: 'ggsans normal', 'whitney', sans-serif;
    line-height: 1.25rem;
    text-align: left;
    padding: 10px;
    padding-top: 30px;
    font-size: 1rem;
}
p#preview h1, p#preview h2, p#preview h3, p#preview, p#preview b, p#preview small, p#preview i{
    outline: 0;
}
p#preview b{
    font-family: 'ggsans semibold', sans-serif;
}
p#preview h1, p#preview h2, p#preview h3{
    font-family: 'ggsans semibold', sans-serif;
    margin: 0;
}
p#preview h1{line-height: 2.5rem;}
p#preview h2{line-height: 2.25rem;}
p#preview h3{line-height: 1.75rem;}
p#preview small{
    display: block;
    font-size: 0.75rem;
    color: #94959c;
    letter-spacing: 0.02em;
}
p#preview li{
    margin-left: 1.1rem;
}
p#preview li:has(> h1)::marker{font-size: 1.75rem;}
p#preview li:has(> h1){margin-left: 1.6rem;}
p#preview li:has(> h2)::marker{font-size: 1.5rem;}
p#preview li:has(> h2){margin-left: 1.4rem;}
p#preview li:has(> h3)::marker{font-size: 1.25rem;}
p#preview li:has(> h3){margin-left: 1.25rem;}
p#preview li:has(> small)::marker{font-size: 0.75rem;
                                  color: #94959c;}
p#preview li:has(> small){margin-left: 1rem;}
p#preview code{
    font-family: monospace;
    background-color: #111;
    border-style: solid;
    border-radius: 3px;
    border-color: #222;
}
textarea{
    width: 90%;
    height: 10rem;
    resize: vertical;
    background-color: #020;
    color: #FFF;
    font-family: 'ggsans normal', sans-serif;
}
@media screen and (max-width: 600px){
    textarea{
        width: 99%;
    }
}
footer{
    display: block;
    position: sticky;
    bottom: 0;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 25px #000;
    background-color: #0004;
    color: #fff;
}